.git
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.hypothesis
.coverage
htmlcov
.tox
dist
build
*.egg-info
.eggs
figures
.github
tests
CUDNN_TROUBLESHOOTING.md
EXAMPLES.md
README.md
LICENSE
MANIFEST.in
*.md
